.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: center;
   
 
  }
  
  .recipe {
    width: 800px;
    height: 500px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
    overflow: scroll;
    overflow: overlay;
    border-radius: 20px;
    /* background-color: rgb(174, 174, 174); */
    padding: 40px;
    font-family: 'Jost', sans-serif;
    margin :40px;
  }
  
  .img {
    width: 100%;
    height: 250px;
    object-fit:cover
  }
  
  .inf {
    font-weight: bolder;
     font-size: 20px;
    text-align: center;
    padding: 5px;
    color: #3b3b3b;
    font-family: 'Jost', sans-serif;
  }
  
  .diet {
    padding: 7px;
    border-radius:10px;
    margin: 20px;
   margin-left: 30px;
    background-color: #70563c;
    
   
    
  }
  
  .up h2 {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: #4f4f4f;
  }
  
  .recipe::-webkit-scrollbar {
    display: none;
  }
  .recipe:hover::-webkit-scrollbar {
    display: initial;
  }
  .recipe::-webkit-scrollbar-thumb {
    background-color: rgb(181, 184, 185, 0, 8);
  }
  
  .cajita {
    justify-self: flex-end;
    padding: 15px;
    margin-top :-30px;
    
  }
 
  .up {
    font-family: 'Jost', sans-serif;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    color: #393636;
  }
  
  .back {
    outline: transparent;
     background: rgba(255, 255, 255, 0.444);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
    margin-left: -5px;
  
  
     
  }

  .back:hover{
    cursor:pointer
  }
  