.return {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}
 
h1 {
  color: rgba(34, 24, 1, 0.739);
  font-family: 'Jost', sans-serif;
  margin-left:20px
}
.span {
  color: #918f12;
  font-family: 'Jost', sans-serif;
}
.box {
  margin-top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Jost', sans-serif;
  color: black;
  
 
}

h5 {
 
  font-size: 15px;
  text-align: center;
  margin: auto;
  color: rgb(66, 27, 239);
  display: block;
  font-family: 'Jost', sans-serif;
}

.label {
  font-weight: bolder;
  padding: 5px;
  color: #010c1c;
  
}

.span {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
}

input {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(8, 5, 5);
  color: #191919;
  font-family: 'Jost', sans-serif;
}

.container form {
  margin-right: 40px;
}

.bot {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bot:hover {
  cursor:pointer;
}

.button {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #4c2b0d;
  border-radius: 15px;
  background-color: rgba(34, 24, 1, 0.739);
  /* box-shadow: 0px 0px 5px 1px rgb(229, 255, 60); */
  outline: transparent;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  color:white
}

.bnutton:hover{
  cursor:pointer;
  background-color: transparent;
  color:black
}